@import 'base';

.bar {
    --i: 0;
    position:absolute;
    top:calc(50% + (var(--i) - #{.5*($n - 1)})*#{2*$w});
    left: calc(50% + (var(--i) - #{.5*($n - 1)})*#{2*$w});
    animation: flip0 $t linear infinite;
    
    @for $i from 1 to $n { &:nth-child(#{$i + 1}) {--i: $i}}
    
    &:before{
        position: absolute;
        margin: -.5*$h -.5*$w;
        width: $w; height: $h;
        border-radius: 3px;
        box-shadow: 0 0 0 $w/3 #fff;
        background: rgb(calc(#{$r0} + var(--i)*#{$dr}),50,100);
        animation: flip1 $t linear calc(var(--i)*#{$dt}) infinite;
        content: '';
    }
}

@keyframes flip0 {
    to {transform: rotate(.5turn)}
}

@keyframes flip1 {
    0%, 50% {
        transform: none;
    }
    
    #{50% + $k*100%}, to { transform: rotate(.5turn)}
}
